//color
$black: black;
$dark-blue: #075e79;
$red: red;
$white: white;
$infobip-orange: #ff6002;
$overlay: rgba(0,0,0,0.5);

//sizes and positions
$b70: 70px;
$b20: 20px;
$b40: 40px;
$b28: 28px;
$b26: 26px;
$cards-width: 1300px;
$card-wrapper-width: 300px;
$card-wrapper-height: 450px;
$text-padding: 15px;

//screen-sizes
$screen-xs: 480px;
$screen-sm: 768px;
